/* CSS variables */
:root {
  --color-bg-gradient: linear-gradient(
    130deg,
    #1a1a1a 0%,
    #3b6b41 15%,
    #3b6b41 25%,
    #264e2a 40%,
    #264e2a 55%,
    #265828 70%,
    #377a3b 100%
  );
  --color-bg-light: #e4f1d7;
  --color-bg-dark: #22352f;
  --color-text-dark: #2c2c2c;
  --color-text-light: #f9e3b1;
  --color-brown: #503b2e;
}

/* resets and layout */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-bg-gradient);
}

main {
  flex-grow: 1;
}

h1 {
  color: var(--color-text-dark);
  background-color: var(--color-bg-light);
  margin-top: 0;
}

section {
  max-width: 1000px;
  margin: auto;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  padding: 0.5em 1em;
  border-radius: 10px;
  font-size: 20px;
  display: block;
  margin: 1em auto;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.btn-primary {
  background-color: var(--color-brown);
  color: white;
}

.btn-primary:hover {
  background-color: var(--color-bg-light);
  color: var(--color-brown);
}

/* stops the overlay from appearing before the overlay styles file loads */
.overlay {
  visibility: hidden;
}

.overlay.open {
  visibility: visible;
}
