.task-section {
  padding: 0 1em;
}

.task-section h2 {
  color: var(--color-text-light);
  text-transform: capitalize;
}

.task-section-inner {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 4px solid var(--color-bg-dark);
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 1em;
  justify-content: start;
}

.no-task {
  color: var(--color-text-light);
}

.task-view-header {
  background-color: var(--color-bg-light);
  padding-top: 1em;
}

.task-view-header-inner {
  max-width: 1000px;
  margin: auto;
  display: flex;
}

.task-view-header h1 {
  text-align: center;
}

@media screen and (max-width: 650px) {
  .task-section-inner {
    justify-content: center;
  }
}
